h1 {
  width: 100%;
  height: 15vh;
  line-height: 15vh;
  text-align: center;
  font-size: 60px;
  color: #3a4c79;
  background-color: #f6e097;
  border-bottom: 5px solid #3a4c79;
}

@media (max-width: 641px) and (orientation: landscape) {
  h1 {
    height: 20vh;
    line-height: 20vh;
    font-size: 54px;
  }
}
